body{
    background-color: blue;
    font-family: sans-serif;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
    margin: 0px;
}
img{
width: 1600px;
height: 650px;
text-align: center;
}
p{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
    margin: 0px;
    font-size: 30px;
}
nav{
  text-decoration:none;
  font-size: 40px;
  border: 5px dashed blue;
  background-color: black;
  color:white;
  padding: 5px;
  margin: 0px;
  margin-top:0px;
  }
  a{
color:white;
text-decoration:none;
padding-left: 650px;
padding-right: 650px;
  }
